<section id="orders">
  <div class="row">
    <div class="cart-content">
      <div id="enderecoCobranca">
        <div class="titles-cart-table">
          <h2 class="cart-title">
            <i></i> MEUS PEDIDOS
          </h2>
        </div>
        {{yebo-orders orders=model}}
      </div>
    </div>
  </div>
</section>