<section id="orders">
  <div class="row">
    <div class="cart-content">
      <div id="enderecoCobranca">
        <div class="titles-cart-table">
          <h2 class="cart-title order-title">
            PEDIDO {{model.id}}<br>
            <span>Seu pedido foi contabilizado.</span>
          </h2>
        </div>
        <form>
          {{yebo-order order=model}}
        </form>
      </div>
    </div>
  </div>
</section>