<label>
  {{if label label attributeName}}
  {{input value=value
          classBinding="errors.length:error"
          placeholder=placeholder}}
</label>
{{#if errors.length}}<small class="error">{{displayErrors}}</small>{{/if}}
